body{
    display: flex;
    height: 450px;
    justify-content: center;
    background: linear-gradient(to right,#fb40df,#1067ca);
}

form{
    background: #f4f3f5;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}

form.gupo{
    position: relative;
    margin: 65px;
}

#boton{
    text-align: center;
    background-color: #1067ca;

}